html, body {
    margin: 0;
    padding: 0;
    background-color: #040D12; /* Dark blue background */
    font-family: "Exo 2", sans-serif;
    height: 100vh;
    color: #93B1A6; /* Pale green text color */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #93B1A6; /* Pale green text color */
    background-color: #183D3D; /* Dark green background */
    border-radius: 4px;
    width: 600px;
}

button {
    background-color: #5C8374; /* Olive green button color */
    cursor: pointer;
    border: none;
    color: #040D12; /* Dark blue text color */
}

button#new-deck {
    align-self: flex-start;
    padding: 5px;
}

button.draw {
    font-size: 1.2em;
    padding: 5px;
    align-self: stretch;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-block: 20px;
}

div.card-slot {
    border: 1px solid #040D12; /* Dark blue border */
    border-radius: 5px;
    height: 120px;
    width: calc(120px * 5 / 7);
}

div.card-slot:nth-of-type(1) {
    margin-bottom: 10px;
}

img.card {
    width: 100%;
    height: 100%;
}

div.top {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

div.top > p {
    margin: 0;
    margin-left: auto;
    margin-right: 20px;
}

div.top button {
    margin-left: 20px;
}

button:disabled {
    cursor: not-allowed;
}

h2 {
    margin: 10px;
}
